<table class="table ">
    <thead class="table-dark ">
        <tr> 
            <th>Titulo</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
    {{#if verProductos }}
        {{#each verProductos}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{thumbnail}}" alt="Imagen"></td>
        </tr> 
        {{/each}}
    {{/if}}
    </tbody>
</table>